.v-application {
    .header {
        &__top {
            background-color: #382f80;
            padding: 8px !important;
            min-height: 100px;

            &.v-list-item {
                padding-left: 25px !important;
                padding-right: 25px !important;
            }

            .flex--1 {
                flex: 1;
            }
        }

        &__logo {
            display: flex;

            .header__outbox {
                display: block;
                padding: 5px 15px 5px 65px;
                border-radius: 35px;
                background-color: white;
                font-weight: bold;
            }

            .header__insidebox {
                display: block;
                padding: 10px 35px;
                border-radius: 35px;
                background-color: #382f80;
                font-weight: bold;
                color: white;
            }
        }

        &__menu {
            list-style-type: none;
            display: flex;

            li {
                color: white;

                a {
                    padding: 5px 10px;
                }
            }
        }
    }
}