.v-application {
    .header {
        &__top {
            background-color: #fff;
            padding: 8px !important;
            min-height: 100px;
            border-bottom: 2px solid #f7f7f7;

            &.v-list-item {
                padding-left: 25px !important;
                padding-right: 25px !important;
            }

            .flex--1 {
                flex: 1;
            }
        }

        &__logo {
            display: flex;

            .header__outbox {
                display: block;
                padding: 2px 15px 2px 15px;
                margin-left: 25px;
                background-color: #f7f7f7;
                font-weight: bold;
            }

            .header__insidebox {
                display: block;
                padding: 10px 35px;
                background-color: #fff;
                font-weight: bold;
                color: black;
            }
        }

        &__menu {
            list-style-type: none;
            display: flex;

            li {
                color: #000;

                a {
                    padding: 5px 10px;
                }
            }
        }
    }
}