.table {
    border: 1px solid #ccc;

    &__row {
        display: flex;
        gap: 1px;
        background-color: #eee;

        &:not(:first-child) {
            border-top: 1px solid #ddd;
        }

        &--header {
            border-bottom: 1px solid #fff;
        }

        &--subheader {
            font-weight: bold;

            .table__col {
                display: flex;
                align-items: center;
                min-height: 40px;
                background-color: #777;
                color: white;
            }
        }
    }

    &__col {
        font-size: 12px;
        flex: 1;
        padding: 5px 5px;
        background-color: white;
        text-align: center;

        &--header {
            border-bottom: 1px;
        }

        &--10 {
            text-align: left;
            flex: 10;
        }
    }

    &__placeholder {
        font-size: 10px;
    }

    &__select {
        width: 100%;
        padding: 5px 15px;
        border-radius: 15px;
    }
}